body{
  font-family: 'Roboto', sans-serif;
  /*background: linear-gradient(to top right, black, #00FF00);*/
  background: linear-gradient(to right, black, #00FF00);
  /*max-width: 1000px;*/
}


h1{
  font-family: 'Rock Salt', cursive;
  font-size: 50px;
  text-align: center;
}

.article{
  text-align: center;
  /*width: 70%;*/
  /*color: lightblue;*/
  color: white;
  font-size: large;
padding: 2em;
margin: 0;
max-width: 1000px;
}

.container{
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row wrap;
  justify-content: space-around;
}
.content1{
  /*display: inline-block;*/
/*justify-content: space-between;*/
padding: 1em;
background: orange;
  line-height: 1.5;
  width: 10em;
height: 4em;
}

.content2{
  padding: 1em;
  background: blue;
  /*display: inline-block;*/
  /*justify-content: space-around;*/

  line-height: 1.5;
  width: 10em;
  height: 4em;
}

.content3{
  background: red;
  width: auto;
  height: 3.5em;
  line-height: 1.5;
  padding-top: 1.5em;
  }


#myProgress{
display: inline-block;
  position: relative;
  width: 100%;
  max-width: 1000px;
  background-color: #D3D3D3;
  border-radius: 6px;
}
#myBar{
  width: 0%;
  height: 30px;
  background: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet);
  /*background-color: #8A2BE2;*/
  border-radius: 6px;
}
