body{
  font-family: 'Roboto', sans-serif;
  /*background: linear-gradient(to right, black, #00FF00);*/

  background: rgba(0,0,0,1);
background: -moz-linear-gradient(left, rgba(0,0,0,1) 0%, rgba(0,255,0,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(0,0,0,1)), color-stop(100%, rgba(0,255,0,1)));
background: -webkit-linear-gradient(left, rgba(0,0,0,1) 0%, rgba(0,255,0,1) 100%);
background: -o-linear-gradient(left, rgba(0,0,0,1) 0%, rgba(0,255,0,1) 100%);
background: -ms-linear-gradient(left, rgba(0,0,0,1) 0%, rgba(0,255,0,1) 100%);
background: linear-gradient(to right, rgba(0,0,0,1) 0%, rgba(0,255,0,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00ff00', GradientType=1 );

}


h1{
  font-family: 'Rock Salt', cursive;
  font-size: 50px;
  text-align: center;
}

.article{
  text-align: center;
  color: white;
  font-size: large;
padding: 2em;
margin: 0;
max-width: 1000px;
}

.container{
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row wrap;
  justify-content: space-around;
}

.content1{
padding: 1em;
/*background: orange;*/
  line-height: 1.5;
  width: 10em;
height: 4em;
}

.content2{
  padding: 1em;
  /*background: blue;*/

  line-height: 1.5;
  width: 10em;
  height: 4em;
}

.content3{
  /*background: red;*/
  width: auto;
  height: 3.5em;
  line-height: 1.5;
  padding-top: 1.5em;
  }


#myProgress{
display: inline-block;
  position: relative;
  width: 100%;
  max-width: 1000px;
  background-color: #D3D3D3;
  border-radius: 6px;
}
#myBar{
  width: 0%;
  height: 30px;
  background: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet);
  /*background-color: #8A2BE2;*/
  border-radius: 6px;
}
